################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Talks.CodeToDiFor.Solution/.vs/Talks.CodeToDiFor.Solution/v15
