@model Talks.C2DF.Interfaces.Models.SendResponse

@{
	ViewBag.Title = "Message Sender";
}

<div class="jumbotron">
	<h1>Send your message</h1>
	<p class="lead">Go ahead and give it a go.. send your message on it's way!</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Send</h2>
		<p>
			<form action="/Home/send" method="post">
				<input type="text" name="Text" class="input-lg" />&nbsp;<input type="submit" title="Send" value="Send It!" class="btn-lg" />
			</form>
		</p>

		@{ if (Model.Price >= 0)
			{
			<h3 class="alert-success">@ViewBag.Message</h3>
			<div>
				<h4>There are results
				<ul class="list-group-item-heading">
					<li>Result: @Model.ResultMessage</li>
					<li>Price: @Model.Price</li>
					<li>Message: @Model.Message</li>
				</ul>
				</h4>
			</div>
			}
		}
	</div>
</div>