@{
	ViewBag.Title = "Message Sender";
}

<div class="jumbotron">
	<h1>Send your message</h1>
	<p class="lead">Go ahead and give it a go.. send your message on it's way!</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Send</h2>
		<p>
		<form action="/send" method="post">
		<input type="text" width="200" name="Text" />&nbsp;<input type="submit" title="Send" value="Send It!" />
		</form>
		</p>
	</div>
</div>